:root {
    --primary-color: #2A3140;
    --secondary-color: #1DA1F2;
    --tertiary-color: #fff;
    --quaternary-color: #2ABF7A;
    --quinary-color: #71F26D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "helvetica", sans-serif;
    font-weight: normal;
    scroll-behavior: smooth;
}