footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding-top: 30px;
    width: 100%;
}

footer section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
}

footer section > * {
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

footer > p {
    text-align: center;
    margin-top: 30px;
    opacity: 0.5;
}

footer .bold {
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: var(--secondary-color);
}