header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    display: flex;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

header>* {
    flex-grow: 1;
}

/* Logo */
#headerLogo {
    display: flex;
}

#headerLogo img{
    height: calc(100% - 10px);
    margin: 5px;
}

#headerLogo h1 {
    align-self: center;
    flex-grow: 1;
    font-size: 2.5rem;
    font-weight: normal;
}

/* Navigation */
#headerNav {
    width: 40%;
    display: flex;
    justify-content: center;
}

#headerNav a {
    height: 100%;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font-size: 1.3rem;
    text-decoration: none;
}

#headerNav a:hover,
#headerNav .headerNavActive {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

/* Socials */
#headerSocials {
    width: 20%;
    align-content: center;
    text-align: right;
    padding-right: 50px;
}

#headerSocials i {
    font-size: 1.6rem;
    letter-spacing: 2px;
    cursor: pointer;
}

/* Mobile nav */
#mobileNav {
    display: none;
}

#mobileNav i {
    cursor: pointer;
}

#mobileNav dialog {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr 60% 1fr;
    grid-template-areas:
        "top"
        "middle"
        "bottom";
    justify-self: center;
    align-self: center;
    width: calc(60% - 30px);
    height: calc(100% - 30px);
    border: transparent;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    opacity: 0;
    transition: all 0.3s allow-discrete;
}

#mobileNav dialog::backdrop {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s allow-discrete;
}

#mobileNav dialog[open] {
    opacity: 1;
}

#mobileNav dialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

@starting-style {
    #mobileNav dialog[open] {
        opacity: 0;
    }

    #mobileNav dialog[open]::backdrop {
        background-color: rgba(0, 0, 0, 0);
    }
}

#mobileNav dialog > section:first-of-type {
    grid-area: top;
    justify-self: right;
}

#mobileNav dialog > section:first-of-type i {
    font-size: 3rem;
    color: var(--tertiary-color);
    opacity: 0.5;
    cursor: pointer;
}

#mobileNav dialog > section:nth-of-type(2) {

    grid-area: middle;
    text-align: center;
}

#mobileNav dialog > section:nth-of-type(2) a {
    display: block;
    padding: 30px 0;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem;
}

#mobileNav dialog > section:last-of-type {
    grid-area: bottom;
    text-align: center;
    align-content: center;
    letter-spacing: 0.2rem;
    font-size: 2rem;
}

/* Responsive */
@media only screen and (max-width: 1100px) {
    #headerSocials,
    #headerNav {
        display: none;
    }

    #mobileNav {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 30px;
    font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1024px) {
    #mobileNav dialog {
        width: calc(80% - 30px);
    }
}

@media only screen and (max-width: 768px) {
    #mobileNav dialog {
        width: calc(90% - 30px);
    }
}

@media only screen and (max-width: 425px) {
    #headerLogo h1 {
        display: none;
    }

    #mobileNav dialog {
        width: 100%;
    }
}